@using MotorNVS.BL.DTOs.VehicleDTO
@{
    @model List<VehicleResponse>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Message
        </div>
    }

    <div class="createButton d-flex justify-content-around align-items-center">
        <h1>Vehicles</h1>

        <a href='@Url.Action("Create", "Vehicle")'>
            <button>Create new entry</button>
        </a>
    </div>

    @if (@Model.Count != 0)
    {
        <div class="container d-flex justify-content-around flex-row flex-wrap">
            @foreach (VehicleResponse vehicle in @Model)
            {
                @if (vehicle.IsActive)
                {
                    <div class="info-card">
                        <div class="info-id d-flex justify-content-center">
                            <p><b>Vehicle ID: @vehicle.Id</b></p>
                            @Html.ActionLink("Change activation status", "Activation", new { id = vehicle.Id }, new {@class = "cardButton"})
                            @Html.ActionLink("Edit", "Edit", new { id = vehicle.Id }, new {@class = "cardButton"})
                        </div>
                        <br />
                        <p>Make: @vehicle.Make</p>
                        <p>Model: @vehicle.Model</p>
                        <p>Date created: @vehicle.CreateDate.ToShortDateString()</p>
                        <br />
                        <p><b>Category ID: @vehicle.CategoryId</b></p>
                        <p>Category name: @vehicle.CategoryResponse.CategoryName</p>
                        <br />
                        <p><b>Zipcode ID: @vehicle.FuelId</b></p>
                        <p>Fuel name: @vehicle.FuelResponse.FuelName</p>
                        <br />
                        <p><b>Vehicle status: Active</b></p>
                    </div>
                }
            }
        </div>

        <hr />

        <div class="container d-flex justify-content-around flex-row flex-wrap">
            @foreach (VehicleResponse vehicle in @Model)
            {
                @if (!vehicle.IsActive)
                {
                    <div class="info-card">
                        <div class="info-id d-flex justify-content-center">
                            <p><b>Vehicle ID: @vehicle.Id</b></p>
                            @Html.ActionLink("Change activation status", "Activation", new { id = vehicle.Id }, new {@class = "cardButton"})
                            @Html.ActionLink("Edit", "Edit", new { id = vehicle.Id }, new {@class = "cardButton"})
                        </div>
                        <br />
                        <p>Make: @vehicle.Make</p>
                        <p>Model: @vehicle.Model</p>
                        <p>Date created: @vehicle.CreateDate.ToShortDateString()</p>
                        <br />
                        <p><b>Category ID: @vehicle.CategoryId</b></p>
                        <p>Category name: @vehicle.CategoryResponse.CategoryName</p>
                        <br />
                        <p><b>Zipcode ID: @vehicle.FuelId</b></p>
                        <p>Fuel name: @vehicle.FuelResponse.FuelName</p>
                        <br />
                        <p><b>Vehicle status: Deactivated</b></p>
                    </div>
                }
            }
        </div>
    }
    else
    {
        <p>No data was found</p>

    }
}
