@using MotorNVS.BL.DTOs.AddressDTO
@{
    @model List<AddressResponse>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Message
        </div>
    }

    <div class="createButton d-flex justify-content-around align-items-center">
        <h1>Addresses</h1>

        <a href='@Url.Action("Create", "Address")'>
            <button>Create new entry</button>
        </a>
    </div>

    @if (@Model.Count != 0)
    {
        <div class="container d-flex justify-content-around flex-row flex-wrap">
            @foreach (AddressResponse address in @Model)
            {
                <div class="info-card">
                    <div class="info-id d-flex justify-content-center">
                        <p><b>Address ID: @address.Id</b></p>
                        @Html.ActionLink("Edit", "Edit", new { id = address.Id }, new {@class = "cardButton"})
                    </div>
                    <br />
                    <p>Address: @address.StreetAndNo</p>
                    <p>Date created: @address.CreateDate.ToShortDateString()</p>
                    <br />
                    <p><b>Zipcode ID: @address.ZipcodeId</b></p>
                    <p>Zipcode number: @address.ZipcodeResponse.ZipcodeNo</p>
                    <p>City: @address.ZipcodeResponse.City</p>
                    <br />
                </div>
            }
        </div>
    }
    else
    {
        <p>No data was found</p>

    }
}
