@using MotorNVS.BL.DTOs.RegistrationDTO
@{
    @model RegistrationIndexViewModel

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Message
        </div>
    }

    <div class="createButton d-flex justify-content-around align-items-center">
        <h1>Registrations</h1>

        <a href='@Url.Action("Create", "Registration")'>
            <button>Create new entry</button>
        </a>
    </div>

    @if (@Model.RegList.Count != 0)
    {
        @using (Html.BeginForm("Index", "Registration"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.SearchInt , htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SearchInt, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SearchInt, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Find" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div class="container d-flex justify-content-around flex-row flex-wrap">
            @foreach (RegistrationResponse registration in @Model.RegList)
            {
                <div class="container info-card">
                    <div class="row info-id  align-items-center justify-content-around">
                        <div class="col-auto">
                            <p><b>Registration ID: @registration.Id</b></p>
                        </div>
                        <div class="col-auto">
                            @Html.ActionLink("Delete", "Delete", new { id = registration.Id }, new {@class = "cardButton"})
                        </div>
                        <div class="col-auto">
                            @Html.ActionLink("Edit", "Edit", new { id = registration.Id }, new {@class = "cardButton"})
                        </div>
                    </div>
                    <br />
                    <p>Registration date: @registration.RegistrationDate.ToShortDateString()</p>
                    <br />
                    <p><b>Customer ID: @registration.CustomerId</b></p>
                    <p>First name: @registration.CustomerResponse.FirstName</p>
                    <p>Last name: @registration.CustomerResponse.LastName</p>
                    <br />
                    <p><b>Address ID: @registration.CustomerResponse.AddressId</b></p>
                    <p>Address: @registration.CustomerResponse.AddressResponse.StreetAndNo</p>
                    <br />
                    <p><b>Zipcode ID: @registration.CustomerResponse.AddressResponse.ZipcodeId</b></p>
                    <p>Zipcode number: @registration.CustomerResponse.AddressResponse.ZipcodeResponse.ZipcodeNo</p>
                    <p>City: @registration.CustomerResponse.AddressResponse.ZipcodeResponse.City</p>
                    <br />
                    <p><b>Vehicle ID: @registration.VehicleId</b></p>
                    <p>Make: @registration.VehicleResponse.Make</p>
                    <p>Model: @registration.VehicleResponse.Model</p>
                    <br />
                    <p><b>Category ID: @registration.VehicleResponse.CategoryId</b></p>
                    <p>Category name: @registration.VehicleResponse.CategoryResponse.CategoryName</p>
                    <br />
                    <p><b>Fuel ID: @registration.VehicleResponse.FuelId</b></p>
                    <p>Fuel name: @registration.VehicleResponse.FuelResponse.FuelName</p>
                </div>
            }
        </div>
    }
    else
    {
        <p>No data was found</p>

    }
}
