@using MotorNVS.BL.DTOs.CustomerDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<CustomerResponse> customers = ViewBag.CustomerResponses;

    foreach (var customer in customers)
    {
        <p><b>Customer ID: @customer.Id</b></p>
        <p>First name: @customer.FirstName</p>
        <p>Last name: @customer.LastName</p>
        <p>Date created: @customer.CreateDate</p>
        <p><b>Address ID: @customer.AddressId</b></p>
        <p>Street address: @customer.AddressResponse.StreetAndNo</p>
        <p><b>Zip code ID: @customer.AddressResponse.ZipcodeId</b></p>
        <p>Zip code: @customer.AddressResponse.ZipcodeResponse.ZipcodeNo</p>
        <p>City: @customer.AddressResponse.ZipcodeResponse.City</p>
    }
}
