@using MotorNVS.BL.DTOs.FuelDTO
@{
    @model List<FuelResponse>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Message
        </div>
    }

    <div class="createButton d-flex justify-content-around align-items-center">
        <h1>Fuels</h1>

        <a href='@Url.Action("Create", "Fuel")'>
            <button>Create new entry</button>
        </a>
    </div>

    @if (@Model.Count != 0)
    {
        <div class="d-flex justify-content-around flex-row flex-wrap">
            @foreach (FuelResponse fuel in @Model)
            {
                <div class="container info-card">
                    <div class="row info-id  align-items-center justify-content-around">
                        <div class="col-auto">
                            <p><b>Fuel ID: @fuel.Id</b></p>
                        </div>
                        <div class="col-auto">
                            @Html.ActionLink("Edit", "Edit", new { id = fuel.Id }, new {@class = "cardButton"})
                        </div>
                    </div>
                    <br />
                    <p>Fuel name: @fuel.FuelName</p>
                    <br />
                </div>
            }
        </div>
    }
    else
    {
        <p>No data was found</p>

    }
}
